@model VendorComparisonViewModel
<style>
    .comparison-container {
        margin: 20px;
    }

    .comparison-table {
        width: 100%;
        border-collapse: collapse;
    }

        .comparison-table th, .comparison-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        .comparison-table th {
            background-color: #f2f2f2;
        }

    .filter-container {
        margin-bottom: 20px;
    }

        .filter-container label {
            margin-right: 15px;
        }
</style>

<div class="comparison-container  px-3">

    <h4 class="mb-3 text-dark fw-bold">Vendor Comparison By Filters</h4>
    <!-- Vendor Filter Checkboxes -->
    <div class="filter-container">
        <h5 class="text-pink-menu">Filter by Vendor</h5>
        @* <label><input type="checkbox" class="vendor-filter" value="all" checked> All Vendors</label> *@
        @foreach (var vendor in Model.Vendors)
        {
            <label><input type="checkbox" class="vendor-filter" value="@vendor.Id" checked> @vendor.Name</label>
        }
    </div>

    <!-- Food Item Filter Checkboxes -->
    <div class="filter-container">
        <h5 class="text-pink-menu">Filter by Food Item</h5>
        @* <label><input type="checkbox" class="food-filter" value="all" checked> All Food Items</label> *@
        @foreach (var item in Model.FoodItems)
        {
            <label><input type="checkbox" class="food-filter" value="@item.FoodItemName" checked> @item.FoodItemName</label>
        }
    </div>

    <!-- Comparison Table -->
    <table class="table table-dark   table-bordered border-danger">
        <thead>
            <tr>
                <th class="bg-black">Food Item</th>
                @foreach (var vendor in Model.Vendors)
                {
                    <th class="vendor-column bg-black" data-vendor-id="@vendor.Id">@vendor.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FoodItems)
            {
                <tr class="food-row" data-food-item="@item.FoodItemName">
                    <td class="border border-danger">@item.FoodItemName </td>
                    @foreach (var vendor in Model.Vendors)
                    {
                        <td class="vendor-column" data-vendor-id="@vendor.Id">
                            @{
                                if (item.VendorPrices != null && item.VendorPrices.ContainsKey(vendor.Id))
                                {
                                    // Convert the price to an integer and format it as required.
                                    int price = Convert.ToInt32(item.VendorPrices[vendor.Id]);
                                    string formattedPrice = $"Rs {price}"; // Single space between "Rs" and the number.
                                    @formattedPrice
                                }
                                else
                                {
                                    @:N/A
                                }
                            }
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>


</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/c58416c086.js" crossorigin="anonymous"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>


}
